{% load socialaccount %}
{% providers_media_js %} 
{video: [ 
{% for video in videos %}
    {% if forloop.counter != 1 %}
    , 
    {% endif %}
    {channel: {{ video.uploader }}, title: {{ video.title }}, video: /media/.{{ video.video }}, thumbnail: {{ video.thumb_nail }}, runtime: {{ video.run_time }}, views: {{ video.watch_count }}, create_at: {{ video.created_at }}} 
{% endfor %} 
], 
user: 
{% if user.is_authenticated %}
    {% for account in user.socialaccount_set.all %} 
    { username: {{ account.extra_data.name }}, img: {{ account.get_avatar_url }} } 
{%endfor %}
{% else %} 
    { username: null, img: null } 
    {% endif %}
}
