.Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;

  & > svg {
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
    fill: inherit;
  }
}
