//  TODO 어디서 사용하는가에 따라 창 position 다르게 만들기
.react-menu {
  position: relative;
  &-button {
    & > button {
      color: white;
      background-color: inherit;
      border: none;
    }
  }
  &-list {
    display: none;
    position: absolute;
    &.visible {
      display: block;
      background: #e0e0e0;
    }
  }
  &.add {
    width: 24px;
    background: red;
  }
}
