//  TODO 어디서 사용하는가에 따라 창 position 다르게 만들기
.react-menu {
  position: relative;
  &-button {
    & > button {
      color: white;
      background-color: inherit;
      border: none;
    }
  }
  &-list {
    display: none;
    position: absolute;
    left: 30px;
    &.visible {
      display: block;
      position: absolute;
      background: #e0e0e0;
    }
  }
  &.add {
    width: 24px;
    background: red;
    .react-menu-list.visible {
      z-index: 1;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      position: absolute;
      width: 150px;
      background: #e0e0e0;
      & svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
