.SearchBar {
  height: 30px;

  & > form {
    display: flex;
    height: 100%;

    .input-box {
      display: flex;
      background-color: black;
      border: 1px solid #303030;
      border-right: none;
    }

    input,
    button {
      background: none;
      border: none;
      outline: none;
    }

    input[type="text"] {
      color: white;
    }

    button.submit {
      width: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #303030;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
