//  TODO 어디서 사용하는가에 따라 창 position 다르게 만들기
.react-menu {
  position: relative;

  &-list {
    position: absolute;

    background-color: rgba(33, 33, 33, 0.98);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top: none;

    width: max-content;

    padding: 5px 0;

    &.disable {
      display: none;
    }

    &.direction {
      &-up {
        bottom: 100%;
      }

      &-down {
        top: 100%;
      }

      &-right {
        left: 0px;
      }

      &-left {
        right: 0px;
      }
    }
  }
}
