.react-menu {
  position: relative;
  &-button {
    & > button {
      color: white;
      background-color: inherit;
      border: none;
      outline: none;
    }
  }
  &-list {
    position: absolute;

    background-color: rgba(33, 33, 33, 0.98);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top: none;

    width: max-content;

    padding: 5px 0;

    &.disable {
      display: none;
    }
  }
}
