.SearchBar {
  width: 100%;
  height: 30px;
  display: flex;
  color: white;

  .input-box {
    flex: 1 1 auto;
    display: flex;
    padding: 0 5px;
    background-color: black;
    border: 1px solid #303030;
    border-right: 1px solid black;

    input[type="text"] {
      background: none;
      border: none;
      padding: 0;
      outline: none;
      flex: 1 1 0;
      color: inherit;
      width: 100%;
    }

    &:focus-within {
      border-color: blue;
    }
  }

  .react-icon.search {
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    flex: 0 0 auto;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
