figure,
p {
  text-align: start;
  margin: 0;
  padding: 0;
  border: 0;
}

.VideoContainer {
  margin-top: 24px;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
}

.video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
