// TODO serchBar: hidden + 돋보기 생성

header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 56px;
  display: flex;
  background-color: #202020;

  .list-header {
    width: 100%;
    display: flex;
    padding: 0 16px;
    justify-content: space-between;

    .middle {
      flex: 0 1 708px;

      .react-icon.mic {
        width: 24px;
        height: 24px;
        padding: 8px;
        margin-right: 8px;
        flex: 0 0 auto;
      }

      .SearchBar {
        margin-left: 40px;
      }
    }

    .right {
      .react-icon {
        width: 24px;
        height: 24px;
        padding: 8px;
        margin-right: 8px;

        &.user {
          width: 32px;
          height: 32px;
          & > img {
            border-radius: 50%;
          }
        }
      }
    }

    .responsive-search {
      &-visible {
        display: none;
      }

      @media (max-width: 590px) {
        &-visible {
          display: inherit;
        }
        &-invisible {
          display: none;
        }
      }
    }
  }
}
