.react-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &-column {
    flex-direction: column;
  }
  & .right {
    flex-shrink: 0;
  }

  @media (min-width: 711px) {
    & .sideSubmit {
      visibility: hidden;
    }
  }
}
