/* UI page css */

/* modal */
.modal {
  display: none;
}

#modal-switch:checked ~ .modal {
  display: flex;
}

#modal-switch:checked ~ label[for="modal-switch"]:before {
  transition: 0.3s;
  color: red;
}

label[for="modal-switch"]:before {
  content: "●";
  font-size: 2rem;
  z-index: 1;
}

label[for="modal-switch"] span,
#modal-switch {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

label[for="modal-switch"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  width: 35px;
  height: 35px;
}

.website-title1 {
  margin-left: 46px;
  margin-top: 1px;
}

.secondary-b {
  width: 200px;
  margin-top: 25px;
  margin-left: 4px;
}
.user-list-b {
  display: flex;
  flex-flow: column;
  margin-top: 4px;
  width: 200px;
  min-height: 100vh;
}
.user-item-b {
  flex: 0 1 auto;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.user-photo-b {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: gold;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 150%;
}
.user-name-b {
  margin: 0;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  /* 균등하게 나눠가질때 */
  height: 80px;
  align-items: center;
  padding: 0 1rem;
  background: white;
}

h1 {
  margin-left: 50px;
}

.search-form {
  width: 40%;
  min-width: 10%;
}

.option {
  width: 225px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.op {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.option :nth-child(4) {
  width: 60px;
  height: 40px;
  margin: 0;
}

.icon {
  width: 24px;
  height: 24px;
  font-size: 1.2rem;
}

.option :nth-child(4) .icon {
  width: 32px;
  height: 32px;
  font-size: 1.6rem;
}
/* main view */
.primary {
  padding: 1rem;
}

.secondary-a {
  background: white;
}

/* 반응형  */

/* 1칸 */
@media (min-width: 560px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }
  .card-item {
    width: calc(50% - 16px);
    padding: 0 1rem;
  }
}

/* 2칸 */
@media (max-width: 680px) {
  .search-form {
    display: none;
  }
}

/* 2칸+menu */
@media (min-width: 790px) {
  .page {
    display: flex;
    flex-wrap: wrap;
  }
  .header {
    width: 100%;
  }
  .menu {
    width: 100%;
  }
  .primary {
    order: 2;
    width: calc(100% - 72px);
  }
  .secondary-a {
    width: 72px;
    order: 1;
  }
}

/* 3칸+menu */
@media (min-width: 900px) {
  .card-item {
    width: calc(33.33333% - 16px);
  }
}

/* 4칸+menu */
@media (min-width: 1200px) {
  .card-item {
    width: calc(25% - 16px);
  }
}

/* 사이드메뉴 뜬 상태에서 커질 때 */
/* 4칸+side */
@media (min-width: 1350px) {
  .primary {
    width: calc(100% - 240px);
  }

  .secondary-a {
    width: 240px;
  }
  .user-list {
    display: flex;
    margin-top: 4px;
    width: 240px;
    min-height: 100vh;
  }
  .user-item {
    flex: 0 1 auto;
    height: 40px;
    padding: 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .user-photo {
    margin-right: 10px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: gold;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 150%;
  }
  .user-name {
    margin: 0;
  }
}

/* 사이드메뉴 안 뜬 상태에서 커질 때 */
/* 5칸+menu */
/* @media (min-width: 1785px) {
  .card-item {
    width: calc(20% - 16px);
  }
} */
