/* search */

.search-form {
  height: 40px;
  display: flex;
}

.search-form input[type="search"] {
  margin-right: 10px;
  border: 0;
  border-radius: 0.3em;
  font-size: 1rem;
  flex-grow: 1;
  background: whitesmoke;
}

.search-form input[type="submit"] {
  width: 4em;
  border: 0;
  border-radius: 0.3em;
  font-size: 1rem;
  background: gold;
}

/* sidebar */

.secondary-a {
  width: 72px;
  min-height: 100vh;
  margin-bottom: 2rem;
}
.user-list {
  display: flex;
  flex-flow: column;
  margin-top: 4px;
  width: 72px;
  height: 296px;
}
.user-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 auto;
}
.user-photo {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: gold;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 150%;
}
.user-name {
  margin-bottom: 10px;
}

/* modal */
.modal {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.dialog {
  width: 240px;
  height: 100vh;
  padding: 20px;
  align-self: center;
  background: white;
}

/* card list */

/* .card-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.card-image {
  height: 0;
  padding-bottom: 60%;
  background-color: lightgray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-image img {
  display: none;
}

.card-desc {
  height: 80px;
  flex: 1 1 auto;
  padding: 1em;
  background: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

.card-item {
  display: flex;
  flex-direction: column;
  margin: 0 8px 40px 8px;
}

.card-image {
  height: 0;
  padding-bottom: 60%;
  background-color: lightgray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-image img {
  display: none;
}

.card-desc {
  flex: 1 1 auto;
  background: white;
  display: flex;
  height: 94px;
}

.seumimg {
  width: 48px;
  height: 48px;
  margin: 12px 12px 0 0;
  /* padding-bottom: 60%; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.view-content {
  flex: 1 1 auto;
  max-width: calc(100% - 88px);
}

.content-desc {
  margin-top: 12px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.username {
  height: 18px;
  font-size: 12px;
}

.content-evaluation {
  height: 18px;
  font-size: 12px;
}
.addoption {
  margin-top: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
